
.showcase video{
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.85;
	object-fit: cover;
	position: fixed;
}

#welcome {
	color: yellow;
	display: flex;
	justify-content: center;
	padding-top: 70px;
	padding-bottom: 40px;
	font-stretch: ultra-expanded;
	font-weight: bolder;
	font-family: Garamond, serif;
	
}

#info {
	color: white;
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-left:40px;
	align-items: stretch;
	justify-content:space-between;
	text-justify: distribute;
	line-height: 1.9;
	font-family: Garamond, serif;
	
}

#question {
	color: yellow;
	display: flex;
	justify-content: center;
	padding-top: 70px;
	padding-bottom: 40px;
	font-weight: bolder;
}

@media screen and (max-width: 960px){
	.intro-welcome > h1 {
	  font-size: 50px;
	}
}

@media screen and (max-width: 768px){

	 h1 {
		font-size: 30px;
	  }

	 h3 {
		font-size: 20px;
	  }
}
